.daoDetail-container {
    margin: 8rem 0;
    margin-top: 6rem;
}
.daoDetail-item {
    margin: -5rem 0;
}

.daoDetail-item-left {
    width: 60%;
    z-index: 1;
}
.daoDetail-item-left-rev {
    width: 40%;
    z-index: 1;
}
.daoDetail-item-rev {
    margin-bottom: 2.5rem;
}
.daoDetail-item-left p,
.daoDetail-item-right-rev p {
    font-size: 2.1rem;
    color: rgba(255, 255, 255, 0.5);
    line-height: 40px;
    font-weight: 300;
}
.daoDetail-item-left h3,
.daoDetail-item-right-rev h3 {
    font-size: 2.45rem;
    margin-bottom: 0px;
}
.daoDetail-item-right {
    width: 40%;
}
.daoDetail-item-right-rev {
    width: 60%;
}
.daoDetail-item-right-rev h3 {
    color: var(--green);
}
.daoDetail-item img {
    display: block;

    max-width: 100%;
    margin: 0 auto;
    z-index: -1;
}
.thedao {
    width: 45% !important;

    height: 520px;
}
.thedao img {
    /*height: 350px !important;
    min-width: 125% !important;
    margin-left: -130px;
    opacity: 1;*/
    width: 80% !important;
    height: 100%;
    padding: 0 2rem;
}
.daoDetail-item-left-rev img {
    margin-top: -8rem;
}
.daoDetail-item-3 {
    margin-top: -4rem;
}
.daoDetail-item-3 img {
    min-width: 80%;
    height: 300px;
    margin: 0 auto;
}
.greenBtn {
    background: #b8fd52;
    border-radius: 5px;
    padding: 1.8rem 7.6rem;
    display: inline-block;
    margin-top: 1rem;
    color: #000;
    font-weight: bold;
    font-size: 2.1rem;
    transition: all 0.25s ease-in-out;
}
.greenBtn:hover {
    box-shadow: 0px 0px 15px 0px #000;
}
/*
.ringImg {
    height: 400px !important;
}*/

@media screen and (max-width: 1822px) {
    .daoDetail-item-left p,
    .daoDetail-item-right-rev p {
        font-size: 1.7rem;

        line-height: 34px;
    }
    .daoDetail-item-left h3,
    .daoDetail-item-right-rev h3 {
        font-size: 2rem !important;
    }
    .greenBtn {
        padding: 1.5rem 6rem;
        font-size: 1.9rem;
    }
    .daoDetail-item img {
        max-width: 100%;
    }
    .daoDetail-item-right {
        padding: 0 3.5rem;
    }
    .globe {
        margin-left: -1.7rem !important;
    }
}
@media screen and (max-width: 1708px) {
    .daoDetail-item-left p,
    .daoDetail-item-right-rev p {
        font-size: 1.55rem;

        line-height: 35px;
    }
    .daoDetail-item-left h3,
    .daoDetail-item-right-rev h3 {
        font-size: 2.1rem;
    }
    .greenBtn {
        padding: 1.5rem 6rem;
        font-size: 1.7rem;
    }
}
@media screen and (max-width: 1518px) {
    .daoDetail-item-left p,
    .daoDetail-item-right-rev p {
        font-size: 1.45rem;

        line-height: 35px;
    }
    .daoDetail-item-left h3,
    .daoDetail-item-right-rev h3 {
        font-size: 2rem;
    }
    .greenBtn {
        padding: 1.5rem 5.5rem;
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 1366px) {
    .daoDetail-item {
        margin: -2rem 0;
    }
    .daoDetail-item-left p,
    .daoDetail-item-right-rev p {
        font-size: 1.3rem;

        line-height: 30px;
    }
    .daoDetail-item-left h3,
    .daoDetail-item-right-rev h3 {
        font-size: 1.8rem;
    }
    .greenBtn {
        padding: 1.4rem 5rem;
        font-size: 1.3rem;
    }

    .daoDetail-item img {
        width: 100%;
    }
    .globe {
        width: 100% !important;
    }
    .daoDetail-item-rev {
        margin-bottom: 2.9rem;
    }
}

@media screen and (max-width: 786px) {
    .daoDetail-item {
        flex-direction: column;
        margin: 2rem auto;
    }
    .daoDetail-item img {
        margin-top: 2rem;
    }

    .daoDetail-item-left {
        width: 90%;
        z-index: 1;
    }
    .daoDetail-item-left-rev {
        width: 90%;
        z-index: 1;
    }
    .daoDetail-item-right,
    .daoDetail-item-right-rev {
        width: 90%;
    }
    .daoDetail-item-right img {
        display: block;
        height: 250px;
        min-width: 100%;
        margin-left: 0px;
        z-index: -1;
    }
    .daoDetail-item-rev {
        flex-direction: column-reverse;
    }
    .theGoalImg {
        margin-top: -4rem !important;
    }
    .ringImg {
        margin: 0 auto !important;
        height: 260px !important;
        margin-top: 3rem !important;
        min-width: 90% !important;
    }
    .thedao {
        width: 100% !important;
    }
    .thedao img {
        height: 280px !important;
        min-width: 10% !important;
        margin-left: 0px;
        opacity: 1;
        margin: 0 auto;
    }
}

@media screen and (max-width: 450px) {
    .thedao img {
        height: 210px !important;
        min-width: 10% !important;
        margin-left: 0px;
        opacity: 1;
        margin: 0.25rem auto;
        padding: 0;
    }
    .thedao {
        height: 335px;
    }
    .greenBtn {
        padding: 1.4rem 2rem;
        font-size: 1.1rem;
    }
    .ringImg {
        padding: 0 1rem;
        height: 210px !important;
    }
    .daoDetail-container {
        margin: 6rem 0;
    }
    .daoDetail-item img {
        max-width: 100%;
    }
    .daoDetail-item-right {
        padding: 1rem 2rem;
    }
    .globe {
        margin-left: -0rem !important;
        margin-top: 0rem !important;
    }
}
