.footer-container {
    margin: 1.25rem auto;
    margin-top: 4.5rem;
}
.footer-left {
    width: 57%;
}
.site-rights img {
    width: 300px;
    height: 200px;
}
.footer-right {
    width: 43%;
}
.footer-right img {
    margin-left: -1rem;
}
.footer-left h2 {
    font-size: 4rem;
}
.footer-left .social-media {
    margin-top: 3rem;
}
.footer-left .border-line {
    margin-top: 1rem;
}
.rights-terms {
    padding: 3rem 0;
    padding-right: 2.2rem;
}
.footer-description {
    font-size: 2.05rem;
    color: rgba(255, 255, 255, 0.7);
    line-height: 42px;
}
.copyright {
    font-weight: 500;
    margin-top: 1rem;
    font-size: 2.05rem;
}

@media screen and (max-width: 1822px) {
    .site-rights img {
        width: 300px;
        height: 170px;
    }
    .footer-left h2 {
        font-size: 3.4rem;
    }
    .footer-description {
        font-size: 1.8rem;
        line-height: 42px;
    }
    .copyright {
        font-size: 1.8rem;
    }
}
@media screen and (max-width: 1708px) {
    .site-rights img {
        width: 300px;
        height: 160px;
    }
    .footer-left h2 {
        font-size: 3.2rem;
    }
    .footer-description {
        font-size: 1.6rem;
        line-height: 33px;
    }
    .copyright {
        font-size: 1.6rem;
    }
}
@media screen and (max-width: 1518px) {
    .site-rights img {
        width: 300px;
        height: 150px;
    }
    .footer-left h2 {
        font-size: 3rem;
    }
    .footer-description {
        font-size: 1.45rem;
        line-height: 30px;
    }
    .copyright {
        font-size: 1.45rem;
    }
}
@media screen and (max-width: 1366px) {
    .site-rights img {
        width: 300px;
        height: 130px;
    }
    .footer-left h2 {
        font-size: 2.6rem;
    }
    .footer-description {
        font-size: 1.25rem;
        line-height: 25px;
    }
    .copyright {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 768px) {
    .footer-container {
        margin-top: 1rem;
    }
    .footer-container .container {
        flex-direction: column-reverse;
    }
    .site-rights {
        flex-direction: column;
        margin-top: 0.7rem;
    }
    .footer-left,
    .footer-right {
        width: 95%;
        margin: 1.5rem auto;
    }
    .footer-right {
        width: 70%;
    }
    .footer-left h2 {
        font-size: 2.1rem;
    }
    .rights-terms {
        width: 90%;
        padding: 1rem 0;
        padding-right: 0;
    }
}
