.hero-container {
    min-height: 90vh;
    font-family: "Montserrat";
}
.hero-container h1 {
    margin-top: 1.85rem;
    /* font-size: 2.4rem; 1366 */
    font-size: 4.15rem;
    margin-bottom: 2.5rem;

    width: 100%;
}
.hero-wrap {
    min-height: 80vh;
}
.hero-left,
.hero-right {
    width: 50%;
}
.hero-left p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 41px;
    margin-bottom: 1.9rem;
    width: 66%;
    color: rgba(255, 255, 255, 0.5);
}
.purpleBtn {
    background: linear-gradient(95.36deg, #772598 21.87%, #2c466c 78.99%);
    border-radius: 60px;
}
.hero-wrap .purpleBtn {
    padding: 1.1rem 5.3rem;
    font-weight: 400;
    font-size: 20px;
}
.animation {
    min-height: 60vh;
    width: 100%;
}
.animation img {
    display: block;
    width: 100%;
    margin: 4rem auto;
}
.social-media {
    margin-top: 15px;
    margin-bottom: 2.7rem;
}
.social-media img {
    margin-right: 15px;
    width: 60px;
    height: 58px;
    margin-bottom: 3rem;
}
.hero-container .social-media img {
    margin-right: 4rem;
}

@media screen and (max-width: 1822px) {
    .hero-container h1 {
        font-size: 3.55rem;
    }
    .hero-left p {
        font-size: 27px;

        width: 66%;
    }
    .social-media img {
        width: 70px;
        height: 70px;
    }
    .social-media img {
        margin-right: 15px;
        width: 55px;
        height: 53px;
        margin-bottom: 3rem;
    }
}
@media screen and (max-width: 1708px) {
    .hero-container h1 {
        font-size: 3.5rem;
    }
    .social-media img {
        width: 65px;
        height: 65px;
    }
    .social-media img {
        margin-right: 15px;
        width: 51px;
        height: 49px;
        margin-bottom: 3rem;
    }
}
@media screen and (max-width: 1518px) {
    .hero-container h1 {
        font-size: 3.05rem;
    }
    .social-media img {
        width: 60px;
        height: 60px;
    }
    .hero-left p {
        font-size: 23px;
        line-height: 34px;
        margin-bottom: 1.9rem;
        width: 60%;
        color: rgba(255, 255, 255, 0.5);
    }
    .social-media img {
        margin-right: 15px;
        width: 47px;
        height: 45px;
        margin-bottom: 3rem;
    }
}
@media screen and (max-width: 1366px) {
    .hero-container h1 {
        font-size: 2.6rem;
    }
    .social-media img {
        width: 52px;
        height: 52px;
    }
    .hero-left p {
        font-size: 20px;
        line-height: 30px;

        width: 60%;
        color: rgba(255, 255, 255, 0.5);
    }
    .hero-wrap .purpleBtn {
        font-size: 14px;

        padding: 0.7rem 3.4rem;
        font-weight: 400;
    }
    .social-media img {
        margin-right: 15px;
        width: 44px;
        height: 42px;
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 1025px) {
    .animation {
        min-height: 50vh;
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .hero-container {
        min-height: 75vh;
    }
    .hero-wrap {
        min-height: 80vh;
        flex-direction: column;
    }
    .hero-left,
    .hero-right {
        width: 95%;
        margin: 0 auto;
    }
    .hero-left p {
        width: 100%;
    }
    .animation img {
        width: 95%;
        margin: 2rem auto;
        min-height: 48vh;
    }
    .animation {
        min-height: 40vh;
        width: 100%;
    }
}
@media screen and (max-width: 450px) {
    .hero-container {
        min-height: 70vh;
        margin-bottom: 1rem;
    }
    .animation img {
        width: 95%;
        margin: 2rem auto;
        min-height: 35vh;
    }
    .animation {
        min-height: 40vh;
        width: 100%;
    }
}

/*
@media screen and (max-width: 1822px) {
    
}
@media screen and (max-width: 1708px) {
    
}
@media screen and (max-width: 1518px) {
    
}
@media screen and (max-width: 1366px) {
    
} */
