.nav-container {
    min-height: 10vh;
    padding-top: 2rem;
}
.nav-container .container {
    position: relative;
}
.nav-left {
}
.nav-right {
    width: 55%;
}
.nav-container img {
    /* width: 190px; 1336px */
    width: 205px;
    /* width: 190px; 1336px */
    /* width: 190px; 1336px */
    margin-top: 10px;
    margin-left: -35px;
}
.purpleBtn {
    display: inline-block;
    background: #9747ff;
    /* padding: 0.8rem 2.25rem; 1336px */
    padding: 1.3rem 3.1rem;
    font-size: 1.5rem;
    font-weight: 500;
    margin-right: 0;
    margin-left: auto;
    transition: all 0.2s ease-in-out;
}
.purpleBtn:hover {
    opacity: 0.9;
}
.nav-container ul,
.nav-left,
#navBtn {
    width: 30%;
}
#navBtn {
    display: flex;
}
#navBtn a {
    border-radius: 5px;
    padding: 1.65rem 4.25rem;
}
.nav-container ul {
    justify-content: flex-start !important;
}
.nav-container ul a {
    /* font-size: 1.15rem; 1336 */
    font-size: 1.5rem;
    font-weight: 500;
    margin-right: 2rem;
    padding: 0.3rem 0.5rem;
    transition: all 0.2s ease-in-out;
}
.nav-container ul a:hover {
    color: #9747ff;
}

.hamburger {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 25px !important;
    height: 19px;
    display: none;
    cursor: pointer;
}
.mobileNav {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    display: none;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    margin-top: -2rem;
}

.mobileNav li {
    margin: 1.5rem 0;
}
.mobileNav .purpleBtn {
    margin: 0 auto;
    margin-bottom: 2rem;
}
.mobileNav img {
    position: absolute;
    top: 10px;
    left: 25px;
}
@media screen and (max-width: 1822px) {
    .nav-container img {
        /* width: 190px; 1336px */
        width: 180px;
    }
    .purpleBtn {
        padding: 1.05rem 2.7rem;
        font-size: 1.35rem;
    }
    .nav-container ul a {
        font-size: 1.35rem;
    }
}
@media screen and (max-width: 1708px) {
    .nav-container img {
        /* width: 190px; 1336px */
        width: 223px;
    }
    .purpleBtn {
        padding: 1.15rem 2.9rem;
        font-size: 1.25rem;
    }
    .nav-container ul a {
        font-size: 1.31rem;
    }
}
@media screen and (max-width: 1518px) {
    .nav-container img {
        /* width: 190px; 1336px */
        width: 208px;
    }
    .purpleBtn {
        padding: 1.05rem 2.6rem;
        font-size: 1.15rem;
    }
    .nav-container ul a {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 1366px) {
    .nav-container {
        padding-top: 1rem;
    }
    .nav-container img {
        /* width: 190px; 1336px */
        width: 143px;
    }
    #navBtn .purpleBtn {
        padding: 1.1rem 2.9rem;
        font-size: 1rem;
    }
    .nav-container ul a {
        font-size: 0.98rem;
        margin-right: 1rem;
    }
}
@media screen and (max-width: 1025px) {
    .nav-left {
        width: 40%;
    }
    .nav-right {
        width: 60%;
    }
    .purpleBtn {
        padding: 0.8rem 2rem;
    }
    .nav-container ul a {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 875px) {
    .nav-left {
        width: 30%;
    }
    .nav-right {
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    .nav-left {
        width: 35%;
    }
    .nav-right {
        width: 65%;
    }
    .hamburger {
        display: block;
        z-index: 99;
    }
    #navbar,
    #navBtn {
        display: none;
    }
    .mobileNav {
        height: 100vh;
        overflow-y: hidden;
    }
}
