.partners-container {
    width: 100%;
    margin-top: 4rem;
}
.partners-container h2 {
    font-size: 2.1rem;
}
.partners {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1.5rem auto;
}
.partners img {
    display: block;
    flex: 1fr;
    margin: 0 !important;
}
@media screen and (max-width: 1822px) {
}
@media screen and (max-width: 1708px) {
}
@media screen and (max-width: 1518px) {
}
@media screen and (max-width: 1366px) {
}
@media screen and (max-width: 450px) {
}
