.partners-container {
    width: 100%;
    margin-top: 4rem;
}
.partners-container h2 {
    font-size: 1.7rem;
}
.partners {
    width: 100%;
    flex-wrap: wrap;
    margin: 1.5rem auto;
}
.partners img {
    display: block;
    max-width: 200px;
    margin: 0 auto;
}
@media screen and (max-width: 450px) {
}
