.shares-container .container {
    display: flex;
    justify-content: flex-between;
    align-items: center;
    min-height: 200px;
    margin: 3rem auto;
}
.share {
    min-height: 260px;
}

.share1,
.share2,
.share3 {
    height: 100%;

    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}

.share1 .area {
    background: #ff00b4;
}
.share2 .area {
    background: #f562ca;
}
.share3 .area {
    background: #ff89dd;
}
.share3 h3 {
    width: 200% !important;
}
.share4 .area {
    background: #ff75d6;
}
.share4 {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}
.share4 h3,
.share4 h2 {
    text-align: center;
    margin-right: 4rem;
}
.share h3 {
    margin-top: 1.5rem;
    font-size: 2.5rem;
}
.share h2 {
    font-size: 3.2rem;
    margin-top: -0.5rem;
}
.area {
    width: 100%;
    height: 100px;
    background: white;
}

@media screen and (max-width: 1822px) {
    .share {
        min-height: 240px;
    }
    .share h3 {
        font-size: 2.1rem;
    }
    .share h2 {
        font-size: 2.85rem;
    }
}
@media screen and (max-width: 1708px) {
    .share {
        min-height: 210px;
    }
    .share h3 {
        font-size: 1.8rem;
    }
    .share h2 {
        font-size: 2.6rem;
    }
    .area {
        height: 90px;
    }
}
@media screen and (max-width: 1518px) {
    .share {
        min-height: 200px;
    }
    .share h3 {
        font-size: 1.6rem;
    }
    .share h2 {
        font-size: 2.3rem;
    }
    .area {
        height: 80px;
    }
}
@media screen and (max-width: 1366px) {
    .share {
        min-height: 180px;
    }
    .share h3 {
        font-size: 1.45rem;
    }
    .share h2 {
        font-size: 2.1rem;
    }
    .area {
        height: 75px;
    }
}
@media screen and (max-width: 768px) {
    .share1,
    .share2,
    .share3 {
        width: 20%;
    }
    .share1 h3,
    .share2 h3,
    .share3 h3,
    .share4 h3 {
        font-size: 0.7rem;
        max-width: 100%;
        margin-right: 25px;
    }
    .share h2 {
        font-size: 0.9rem;
    }
}
