.tokenomics-container {
    margin: 2rem 0;
}
.tokenomics-container .container {
    background: linear-gradient(180deg, #e65a98 0%, #ce05d1 100%);
    border-radius: 30px;
    padding: 3.5rem 0;
}
.tokenomics-left {
    width: 60%;
    text-align: center;
}
.tokenomics-right {
    width: 40%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tokenomics-right img {
    margin-bottom: 15px;
}
.tokenomics-right p {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}
.tokenomics-left h2 {
    font-size: 5.8rem;
    margin-bottom: 1.5rem;
}
.tokenomics-left h3 {
    font-size: 4.1rem;
}
.stats {
    width: 80%;
    margin: 0 auto;
    padding-left: 0rem;
    margin-top: 2rem;
}
.stat {
    width: 33%;
    padding: 0.8rem 1.5rem;
    min-height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stat h4 {
    font-size: 2rem;
}
.stat p {
    font-size: 3rem;
    font-weight: 600;
}
.lightpink {
    background: #a900c8;
}
.pink {
    background: #c400e5;
}
.darkpink {
    background: #e500e9;
}

@media screen and (max-width: 1822px) {
    .tokenomics-left h2 {
        font-size: 5.2rem;
        margin-bottom: 1.5rem;
    }
    .tokenomics-left h3 {
        font-size: 3.9rem;
    }
    .stat {
        min-height: 155px;
    }
    .stat h4 {
        font-size: 1.8rem;
    }
    .stat p {
        font-size: 2.7rem;
        font-weight: 600;
    }
}
@media screen and (max-width: 1708px) {
    .tokenomics-container .container {
        padding: 2.8rem 0;
    }
    .tokenomics-left h2 {
        font-size: 4.9rem;
        margin-bottom: 1.5rem;
    }
    .tokenomics-left h3 {
        font-size: 3.6rem;
    }
    .stat {
        min-height: 130px;
    }
    .stat h4 {
        font-size: 1.6rem;
    }
    .stat p {
        font-size: 2.4rem;
        font-weight: 600;
    }
    .tokenomics-right p {
        font-size: 1.25rem;
    }
}
@media screen and (max-width: 1518px) {
    .tokenomics-container .container {
        padding: 2.25rem 0;
    }
    .tokenomics-left h2 {
        font-size: 4.45rem;
        margin-bottom: 1.5rem;
    }
    .tokenomics-left h3 {
        font-size: 3.25rem;
    }
    .stat {
        min-height: 115px;
    }
    .stat h4 {
        font-size: 1.35rem;
    }
    .stat p {
        font-size: 2rem;
        font-weight: 600;
    }
}
@media screen and (max-width: 1366px) {
    .tokenomics-container .container {
        padding: 2rem 0;
    }
    .tokenomics-left h2 {
        font-size: 4rem;
        margin-bottom: 1.5rem;
    }
    .tokenomics-left h3 {
        font-size: 2.8rem;
    }
    .stat {
        min-height: 110px;
    }
    .stat h4 {
        font-size: 1.25rem;
    }
    .stat p {
        font-size: 1.8rem;
        font-weight: 600;
    }
    .tokenomics-right p {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 768px) {
    .tokenomics-container {
        margin: 0rem 0;
    }
    .tokenomics-container .container {
        flex-direction: column;
    }
    .tokenomics-left,
    .tokenomics-right {
        width: 100%;
        margin: 1rem auto;
    }
    .tokenomics-left {
        margin-bottom: 2rem;
    }
    .tokenomics-right p {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    .tokenomics-left p {
        font-size: 1rem;
    }
    .tokenomics-left h4 {
        font-size: 1rem;
    }
    .tokenomics-left h2 {
        font-size: 2.4rem;
        margin-bottom: 1rem;
    }
    .tokenomics-left h3 {
        font-size: 1.8rem;
    }
}
