.tokenomics-container {
    margin: 2rem 0;
}
.tokenomics-container .container {
    background: linear-gradient(180deg, #9a22e0 0%, #6915bd 100%);
    border-radius: 30px;
    padding: 2rem 0;
}
.tokenomics-left {
    width: 60%;
    text-align: center;
}
.tokenomics-right {
    width: 40%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tokenomics-right img {
    margin-bottom: 15px;
}
.tokenomics-right p {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.15rem;
}
.tokenomics-left h2 {
    font-size: 3.3rem;
    margin-bottom: 1.5rem;
}
.tokenomics-left h3 {
    font-size: 2.3rem;
}
.stats {
    width: 80%;
    margin: 0 auto;
    padding-left: 0rem;
    margin-top: 2rem;
}
.stat {
    width: 33%;
    padding: 0.8rem 1.5rem;
    min-height: 102px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stat h4 {
    font-size: 1.45rem;
}
.lightpink {
    background: #c563ff;
}
.pink {
    background: #b536ff;
}
.darkpink {
    background: #9a22e0;
}

@media screen and (max-width: 768px) {
    .tokenomics-container .container {
        flex-direction: column;
    }
    .tokenomics-left,
    .tokenomics-right {
        width: 100%;
        margin: 1rem auto;
    }
    .tokenomics-left {
        margin-bottom: 2rem;
    }
    .tokenomics-right p {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    .tokenomics-left p {
        font-size: 1rem;
    }
    .tokenomics-left h4 {
        font-size: 1rem;
    }
    .tokenomics-left h2 {
        font-size: 2.4rem;
        margin-bottom: 1rem;
    }
    .tokenomics-left h3 {
        font-size: 1.8rem;
    }
}
