:root {
    --green: #b8fd52;
    --purple: #9747ff;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #221d36;
    color: #fff;
    font-family: "Inter";
}
body::-webkit-scrollbar {
    width: 0.4em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #221d36;
}

body::-webkit-scrollbar-thumb {
    background-color: #3a4862;
    outline: 1px solid #3a4862;
    border-radius: 60px;
}
a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

.container {
    width: 85.5%;
    margin: 0 auto;
}

.flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-between-start {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.flex-start-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

img {
    max-width: 100%;
}
.social-media img:hover {
    opacity: 0.7;
}
#tokenomics {
    scroll-behavior: smooth;
}
