:root {
    --green: #b8fd52;
    --purple: #9747ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #221d36;
    color: #fff;
    font-family: "Inter";
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-between-start {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

img {
    max-width: 100%;
}
.social-media img:hover {
    opacity: 0.7;
}
